PORT=8787
STELLAR_NETWORK=testnet
STELLAR_RECEIVER=GCUBXGWBBJ4I276JPFQMBJIB5ZR4RJOV47C3YRWZHWITVQXJQKCW72D7
STELLAR_ADMIN_SECRET=
STORAGE_CONTRACT_ID=
API_JWT_SECRET=change-me
CORS_ORIGIN=http://localhost:5173,https://evernet.tech,https://www.evernet.tech,https://evernet-website-mauve.vercel.app
